@font-face {
    src: url('../fonts/AnticDidone-Regular.ttf');
    font-family: 'AnticFont';
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 0px;
    margin: 0px;
    width: 100%;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}
    */
/* Set width on the form input elements since they're 100% wide by default */
/*Basic shit*/
input,
select,
textarea {
    max-width: 280px;
}

.leadcustom {
    margin: 0px;
    padding: 0px;
}

    .leadcustom > .lead {
    }

h1.indexHeader {
    font-size: 65px;
    font-family: AnticFont;
    margin: 0, 20px, 0, 0;
}

p.indexSubHeader {
    font-family: 'Microsoft Himalaya';
    font-size: 20px;
}

.whole {
    padding: 0px;
}

/*---------------------------------*/


/* Animations for header and banner*/


.text2 {
    opacity: 0;
    transition-duration: 3s;
}

    .text2:hover {
        opacity: 1;
        transform: translateY(20px);
    }
/*---------------------------------*/

/*Header CSS*/
.HeaderTextStlye {
    font-size: 4vw;
    color: ghostwhite;
    font-family: 'Antic Didone';
    text-shadow: 1px 1px 1px #ccc;
}

.tex2style {
    font-size: 0.8vw;
    color: ghostwhite;
    font-family: 'Antic Didone';
    opacity: 1;
}

.banner {
    width: 100%;
    height: 30%;
    display: block;
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    margin: 0px;
}

    .banner > .headerbanner {
        width: 100%;
        height: 30%;
        display: block;
        height: 5%;
        padding: 0px;
    }

    .banner .text {
        position: absolute;
        z-index: 999;
        margin: 15px;
        left: 0;
        right: 0;
        top: 10%; /* Adjust this value to move the positioned div up and down */
        width: 100%;
        text-align: left;
        transition-duration: 3s;
    }

    .banner .text2 {
        position: absolute;
        z-index: 999;
        margin: 20px;
        left: 0;
        right: 0;
        top: 45%;
        width: 100%;
        text-align: left;
    }
/*---------------------------------*/

/*Featured Articles*/
.featuredbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
    font-size: 0px;
}

.featuredarticle {
    flex: 50%;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    font-size: 0px;
}

    .featuredarticle img {
        object-fit: contain;
        display: inline-block;
        margin: 0px;
        font-size: 0px;
    }

/*Bottom Articles*/
.bottomarticles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
    height: 100%;

}

.otherImages {
    flex: 75%;
    width: 35%;
    height: 100%;
    font-size: 0px;
}

.otherImages {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    font-size: 0px;
}

.oderImages {
    flex: 33.33%;
    width: 100%;
    height: 100%;
    padding: 0px;
    font-size: 0px;
}

    .oderImages img {
        object-fit: scale-down;
        margin: 0px;
        font-size: 0px;
    }

.otherArticles {
    flex: 25%;
    height: 100%;
    width: 100%;
}

.otherArticles {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 3px solid black;
    height: 100%;
    width: 100%;
}

.otherArticlesArticle {
    flex: 33.33%;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.HeaderOtherArticle {
    font-family: 'Times New Roman';
}

.BodyOtherArticle {
    font-family: Calibri;
}
