@font-face {
    src:url('../fonts/AnticDidone-Regular.ttf');
    font-family: 'AnticFont';
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h1.indexHeader {
    font-size: 54px;
    font-family: AnticFont;
    
}
p.indexSubHeader{
    font-family:'Microsoft Himalaya';
    font-size: 20px;
}

p.featured{
    font-family:Impact;
    font-size: 40px;
}
.whole{
    padding: 5px;
}
.main {
    display: flex;
   justify-content: space-between;
}

.bigarticle img {
    
    width: 100%;
}

.mainleftcolumn {
    margin: 5px;
    width: 75%;
    
}
.mainrightcolumn{
    width: 25%;
    margin: 5px;
}