@font-face {
    src:url('../fonts/AnticDidone-Regular.ttf');
    font-family: 'AnticFont';
}
body {
    padding-top: 0px;
    padding-bottom: 20px;
    background: url('../Content/texture.png') repeat 0 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 0px;
    margin: 0px;
    width: 100%;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*Basic shit*/
input,
select,
textarea {
    max-width: 280px;
}
.leadcustom{
    margin: 0px;
    padding: 0px;

}
.leadcustom > .lead {

}
    h1.indexHeader {
        font-size: 65px;
        font-family: AnticFont;
        margin: 0, 20px, 0, 0;
    }
p.indexSubHeader{
    font-family:'Microsoft Himalaya';
    font-size: 20px;
}

.whole{
    padding: 0px;
}
.main {
    display: flex;
   justify-content: space-between;
}
/*---------------------------------*/

/* Animations for header and banner*/


.text2 {
    opacity: 0;
    transition-duration: 3s;
}

    .text2:hover {
        opacity: 1;
        transform: translateY(20px);
        
    }
/*---------------------------------*/

/*Header CSS*/
.HeaderTextStlye {
    font-size: 4vw;
    color: ghostwhite;
    font-family: 'Antic Didone';
}
.tex2style {
    font-size: 0.8vw;
    color: ghostwhite;
    font-family: 'Antic Didone';
    opacity: 1;
}
.banner {
    width: 100%;
    height: 30%;
    display: block;
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
    .banner > .headerbanner {
        width: 100%;
        height: 30%;
        display: block;
        height: 5%;
        padding: 0px;
    }
    .banner .text {
        position: absolute;
        z-index: 999;
        margin: 15px;
        left: 0;
        right: 0;
        top: 10%; /* Adjust this value to move the positioned div up and down */
        width: 100%;
        text-align: left;
        transition-duration: 3s;
    }
 .banner .text2 {
        position: absolute;
        z-index: 999;
        margin: 20px;
        left: 0;
        right: 0;
        top: 45%;
        width: 100%;
        text-align: left;
    }
/*---------------------------------*/

/*Two Main Columns*/
        /*Main Right Column*/
            .mainrightcolumn {
                flex-grow: 3;
                width: 25vw;
                margin: 5px;
                border-left: 1px solid black;
                border-top: 1px solid black;
                background-color: lightgrey;
            }
            .rightcolumntext {
    margin: 10px;
}
        /*Main Left Column*/
            .mainleftcolumn {
                flex-grow: 4;
                margin: 5px;
                width: 75%;
            }
            .leftcolumntext {
                margin: 10px;
                font-size: 20px;
            }
    /*Other Articles Side Bar*/
            .otherarticlebody {
                margin: 8px;
            }
    /*Big Articles Picture Row*/
        * {
            box-sizing: border-box;
        }
        .picrow {
            display: flex;
        }
        .bigarticlepics {
            flex: 33.33%;
            padding: 5px;
            width: 100%;
        }
/*---------------------------------*/

/*bottom articles*/
* {
    box-sizing: border-box;
}
.bottomarticlesoverall {
    display: flex;
}
.bottomarticlesright {
    flex: 60%;
}
.bottomarticlesleft{
    flex: 40%;

}
  .bottomarticlesrow {
      display: flex;
      flex-direction: row;
      justify-content:flex-start;
  }
    .bottomarticles {
        flex: 33.33%;
        padding: 2.5px;
        width: 100%;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        

    }
    .bottomarticleseperation {
        flex: 50%;
        padding: 2.5px;
        width: 100%;
        align-self: flex-start;

    }
/*---------------------------------*/
