@{
    ViewBag.Title = "Home Page";
}

<div class="whole">
    
   
</div>


<div class="main">
    <div class="mainleftcolumn">
        <h1 class="indexHeader">The Weekly Bugle</h1>
        <p class="lead">
            <br />
            Sophisticated.
            <br />
            Turthful.
            <br />
            Unfiltered.
            <br />
        </p>
        <h2 class="featured">Our featured articles!</h2>
        <h3>Featured Article #1</h3>
        <!--   -->
        <div class="bigarticle">
            <img src="https://images.unsplash.com/photo-1553034197-a4b98792c8b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Riots rage throughout city" />
        </div>
    </div>

    <div class="mainrightcolumn">
        <h2> Other Articles</h2>
        <div>
            <h3>Article #1            </h3>
            <p> LADADADA UTKU IS A WHORE</p>

        </div>
        <div>
            <h3>Article #2            </h3>
            <p> LADADADA UTKU IS A WHORE</p>

        </div>
        <div>
            <h3>Article #3           </h3>
            <p> LADADADA UTKU IS A WHORE</p>

        </div>


    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Other article #1</h2>
        <p>
            Utku's a whore
        </p>
     
    </div>
    <div class="col-md-4">
        <h2>Other article #2</h2>
        <p>Utku's a whore</p>
       
    </div>
    <div class="col-md-4">
        <h2>Other article #3</h2>
        <p>Utku's a whore</p>
       
</div>