@{
    ViewBag.Title = "Home Page";
}

    <div class="banner">

        <img class="headerbanner" title="Weekly Bugle" src="https://i.imgur.com/MjCRvv1.jpg" alt="Page Banner" />
        <div class="text"> 
           
                <p class="HeaderTextStlye"> The Weekly Bugle</p>
           
        </div>
    </div>

<div class="main">
    <div class="mainleftcolumn">
        <div class="leftcolumntext">
            <p class="lead">
                <hr />
                Providing <span class="spantext">reputable </span>sources and staying <span class="spantext">
                    transparent
                </span> is the essence of <span class="spantext">
                    journalism
                </span>, but how many of them actually do it? <br />
                By asking ourselves this question we saw that a platform with a <span class="spantext">
                    variety
                </span> of writers with <span class="spantext">
                    different
                </span> views was necessary. <br />We think providing
                <span class="spantext">news</span> written by <span class="spantext">journalists</span> of various ideas is crucial to gaining true <span class="spantext">knowledge</span> about politics.
                <hr />
            </p>
            <h2 class="featured">Our featured articles!</h2>
            <h3>Featured Article #1</h3>
        </div>
        <!--   -->
        <div class="bigarticlecolumns">
            <div class="bigarticleleft">
                <div class="bigarticleimg">
                    <img title="Riots rage throughout city." src="https://images.unsplash.com/photo-1553034197-a4b98792c8b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Riots rage throughout city" />
                </div>
            </div>
            <div class="bigarticlerightcolumn">
                <p class="bigarticlerightcolumn">
                    Providing <span class="spantext">reputable </span>sources and staying <span class="spantext">
                        transparent
                    </span> is the essence of <span class="spantext">
                        journalism
                    </span>, but how many of them actually do it? <br />
                    By asking ourselves this question we saw that a platform with a <span class="spantext">
                        variety
                    </span> of writers with <span class="spantext">
                        different
                    </span> views was necessary. <br />We think providing
                    <span class="spantext">news</span> written by <span class="spantext">journalists</span> of various ideas is crucial to gaining true <span class="spantext">knowledge</span> about politics.
                </p>
            </div>
        </div>
        <div>
        <div class="main">
            <div class="mainleftcolumn">
                <div class="leftcolumntext">
                    <h3>Featured Article #2</h3>
                </div>
            </div>
        </div>
                    </div>
                    <div class="bigarticlecolumns">
                        <div class="bigarticleleft">
                            <div class="bigarticleimg">
                                <img title="Riots rage throughout city." src="https://images.unsplash.com/photo-1553034197-a4b98792c8b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Riots rage throughout city" />
                            </div>
                        </div>
                        <div class="bigarticlerightcolumn">
                            <p class="bigarticlerightcolumn">
                                Providing <span class="spantext">reputable </span>sources and staying <span class="spantext">
                                    transparent
                                </span> is the essence of <span class="spantext">
                                    journalism
                                </span>, but how many of them actually do it? <br />
                                By asking ourselves this question we saw that a platform with a <span class="spantext">
                                    variety
                                </span> of writers with <span class="spantext">
                                    different
                                </span> views was necessary. <br />We think providing
                                <span class="spantext">news</span> written by <span class="spantext">journalists</span> of various ideas is crucial to gaining true <span class="spantext">knowledge</span> about politics.
                            </p>
                        </div>
                    </div>

                </div>


                <div class="mainrightcolumn">
                    <div class="rightcolumntext">

                        <h2> Other Articles</h2>
                        <div>
                            <h3>Article #1            </h3>
                            <p class="otherarticlebody"> LADADADA UTKU IS A WHORE</p>

                        </div>
                        <div>
                            <h3>Article #2            </h3>
                            <p class="otherarticlebody"> LADADADA UTKU IS A WHORE</p>

                        </div>
                        <div>
                            <h3>Article #3           </h3>
                            <p class="otherarticlebody"> LADADADA UTKU IS A WHORE</p>

                        </div>
                        <div>
                            <h3>Article #4           </h3>
                            <p class="otherarticlebody"> LADADADA UTKU IS A WHORE</p>

                        </div>
                        <div>
                            <h3>Article #5           </h3>
                            <p class="otherarticlebody"> LADADADA UTKU IS A WHORE</p>

                        </div>
                        <div>
                            <h3>Article #6           </h3>
                            <p class="otherarticlebody"> LADADADA UTKU IS A WHORE</p>

                        </div>
                    </div>


                </div>
            </div>
            <div class="bottomarticles">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Other article #1</h2>
                        <p>
                            Utku's a whore
                        </p>

                    </div>
                    <div class="col-md-4">
                        <h2>Other article #2</h2>
                        <p>Utku's a whore</p>

                    </div>
                    <div class="col-md-4">
                        <h2>Other article #3</h2>
                        <p>Utku's a whore</p>

                    </div>
                </div>
            </div>
