@{
    ViewBag.Title = "Home Page";
}
<!-- Header and Banner-->
    <div class="banner">
            <img class="headerbanner" title="Weekly Bugle" src="https://i.imgur.com/PZV2jdN.png" alt="Page Banner" />
        <div id="bannerheadertext" class="text">
            <p class="HeaderTextStlye"> The Weekly Bugle</p>
        </div>
        
        <div class="text2">
            <div>
                    <p class="tex2style">
                        Providing reputable sources and staying transparent is the essence of journalism, but how many of them actually do it? <br />
                        By asking ourselves this question we saw that a platform with a variety of writers with different views was necessary. <br />
                        We think providing news written by journalists of various ideas is crucial to gaining trueknowledge about politics. <br />
                    </p>           
            </div>
        </div>
    </div>
        <!------------------------------------------------------>
            
        <!-- Featured Article  Columns-->
        <div class="main">
            <div class="featuredcolumn">                                 
              <img title="Riots rage throughout city." src="~/Content/images/markus-spiske-blLAdy8OQxU-unsplash.jpg" alt="Riots rage throughout city" />                   
            </div>
            <div class="featuredcolumn">               
              <img title="Riots rage throughout city." src="~/Content/images/mason-field-OppGpuSZF-k-unsplash.jpg" alt="Riots rage throughout city" />              
            </div>
        </div>
        <!------------------------------------------------------>
            
        <!-- BOttom Articles-->
        <div class="bottomarticlesoverall">
            <div class="bottomarticlesleft">
                <div class="bottomarticlesrow">
                    <div class="bottomarticles">
                        <div class="bottomarticleseperation">
                            <img title="Plasma Discovered" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plasma discovered" />
                        </div>
                        <div class="bottomarticleseperation">
                            <h2>Other article #1</h2>
                            <p>Utku's a whore</p>
                        </div>
                    </div>
                    <div class="bottomarticles">
                        <div class="bottomarticleseperation">
                            <img title="Plasma Discovered" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plasma discovered" />
                        </div>
                        <div class="bottomarticleseperation">
                            <h2>Other article #1</h2>
                            <p>Utku's a whore</p>
                        </div>
                    </div> <div class="bottomarticles">
                        <div class="bottomarticleseperation">
                            <img title="Plasma Discovered" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plasma discovered" />
                        </div>
                        <div class="bottomarticleseperation">
                            <h2>Other article #1</h2>
                            <p>Utku's a whore</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomarticlesright">
                <p>Utku sucks</p>
            </div>
        </div>
        <!------------------------------------------------------>
