@{
    ViewBag.Title = "Home Page";
}
<!-- Header and Banner-->
    <div class="banner">
            <img class="headerbanner" title="Weekly Bugle" src="https://i.imgur.com/PZV2jdN.png" alt="Page Banner" />
        <div id="bannerheadertext" class="text">
            <p class="HeaderTextStlye"> The Weekly Bugle</p>
        </div>
        
        <div class="text2">
            <div>
                    <p class="tex2style">
                        Providing reputable sources and staying transparent is the essence of journalism, but how many of them actually do it? <br />
                        By asking ourselves this question we saw that a platform with a variety of writers with different views was necessary. <br />
                        We think providing news written by journalists of various ideas is crucial to gaining trueknowledge about politics. <br />
                    </p>           
            </div>
        </div>
    </div>
        <!------------------------------------------------------>
        <hr />
        <!-- Featured Article and Other Articles Column-->
        <div class="main">
            <div class="mainleftcolumn">
                <div class="picrow">
                    <div class="bigarticlepics">
                        <img title="Riots rage throughout city." src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Riots rage throughout city" />
                    </div>
                    <div class="bigarticlepics">
                        <img title="Plasma Discovered" src="~/Content/images/websBig1.png" alt="Plasma discovered" />
                    </div>
                    <div class="bigarticlepics">
                        <img title="Plasma Discovered" src="~/Content/images/websBig2.png" alt="Plasma discovered" />
                    </div>
                </div>
            </div>

            <!--Right Column, Other Articles-->
            <div class="mainrightcolumn">
                <hr />
                    <h2> Other Articles</h2>
                <hr />
                <div class="mainrightarticles">
                    <h3>Article #1            </h3>
                    <p class="otherarticlebody"> LADADADA UTKU IS A WHORE</p>
                    <img title="Plasma Discovered" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plasma discovered" />
                </div>
                <div class="mainrightarticles">
                    <h3>Article #2            </h3>
                    <p class="otherarticlebody"> LADADADA UTKU IS A WHORE</p>
                    <img title="Plasma Discovered" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plasma discovered" />
                </div>
                <div class="mainrightarticles">
                    <h3>Article #3           </h3>
                    <p class="otherarticlebody"> LADADADA UTKU IS A WHORE</p>
                    <img title="Plasma Discovered" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plasma discovered" />
                </div>
                <div class="mainrightarticles">
                    <h3>Article #4           </h3>
                    <p class="otherarticlebody"> LADADADA UTKU IS A WHORE</p>
                    <img title="Plasma Discovered" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plasma discovered" />
                </div>
                <div class="mainrightarticles">
                    <h3>Article #5           </h3>
                    <p class="otherarticlebody"> LADADADA UTKU IS A WHORE</p>
                    <img title="Plasma Discovered" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plasma discovered" />
                </div>
                <div class="mainrightarticles">
                    <h3>Article #6           </h3>
                    <p class="otherarticlebody"> LADADADA UTKU IS A WHORE</p>
                    <img title="Plasma Discovered" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plasma discovered" />
                </div>
            </div>
            <!------------------------------------------------------>

        </div>
        <!------------------------------------------------------>
        <hr />
        <!-- BOttom Articles-->
        <div class="bottomarticlesoverall">
            <div class="bottomarticlesleft">
                <div class="bottomarticlesrow">
                    <div class="bottomarticles">
                        <div class="bottomarticleseperation">
                            <img title="Plasma Discovered" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plasma discovered" />
                        </div>
                        <div class="bottomarticleseperation">
                            <h2>Other article #1</h2>
                            <p>Utku's a whore</p>
                        </div>
                    </div>
                    <div class="bottomarticles">
                        <div class="bottomarticleseperation">
                            <img title="Plasma Discovered" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plasma discovered" />
                        </div>
                        <div class="bottomarticleseperation">
                            <h2>Other article #1</h2>
                            <p>Utku's a whore</p>
                        </div>
                    </div> <div class="bottomarticles">
                        <div class="bottomarticleseperation">
                            <img title="Plasma Discovered" src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Plasma discovered" />
                        </div>
                        <div class="bottomarticleseperation">
                            <h2>Other article #1</h2>
                            <p>Utku's a whore</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomarticlesright">
                <p>Utku sucks</p>
            </div>
        </div>
        <!------------------------------------------------------>
