@{
    ViewBag.Title = "Home Page";
}
<body>
    <!-- Header and Banner-->
    <div class="banner">
        <img class="headerbanner" title="Weekly Bugle" src="https://i.imgur.com/PZV2jdN.png" alt="Page Banner" />
        <div id="bannerheadertext" class="text">
            <p class="HeaderTextStlye"> The Weekly Bugle</p>
        </div>

        <div class="text2">
            <div>
                <p class="tex2style">
                    Providing reputable sources and staying transparent is the essence of journalism, but how many of them actually do it? <br />
                    By asking ourselves this question we saw that a platform with a variety of writers with different views was necessary. <br />
                    We think providing news written by journalists of various ideas is crucial to gaining trueknowledge about politics. <br />
                </p>
            </div>
        </div>
    </div>
    <!------------------------------------------------------>
    <!-- Featured Articles-->
    <div class="featuredbox">
        <div class="featuredarticle">
            <img class="featuredarticle" src="~/Content/images/markus-spiske-blLAdy8OQxU-unsplash.jpg" alt="Images" />
        </div>
        <div class="featuredarticle">
            <img class="featuredarticle" src="~/Content/images/mason-field-OppGpuSZF-k-unsplash.jpg" alt="Images" />
        </div>

    </div>
    <!--

            <img class="otherImagesBoxes" src="~/Content/images/placeholder 1.jpg" alt="Boxer" />


            <img class="otherImagesBoxes" src="~/Content/images/placeholder 2.jpg" alt="Boxer" />


            <img class="otherImagesBoxes" src="~/Content/images/placeholder 3.jpg" alt="Boxer" />
       -->

    <div class="bottomarticles">
        <div class="otherImages">
            <div class="oderImages">
                <img class="oderImages" src="~/Content/images/placeholder 1.jpg" alt="Boxer" />
            </div>
            <div class="oderImages">
                <img class="oderImages" src="~/Content/images/placeholder 2.jpg" alt="Boxer" />
            </div>
            <div class="oderImages">
                <img class="oderImages" src="~/Content/images/placeholder 3.jpg" alt="Boxer" />
            </div>
        </div>

        <div class="otherArticles">
            <div class="otherArticlesArticle">
                <h1 class="HeaderOtherArticle"> Article #1</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="otherArticlesArticle">
                <h1 class="HeaderOtherArticle"> Article #1</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
            </div>
            <div class="otherArticlesArticle">
                <h1 class="HeaderOtherArticle"> Article #1</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>

        </div>
    </div>







</body>